.check-box-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	justify-content:center;
	align-items:center;
}
.check-box-wrapper img{
	width: 30px;
	display: table;
	margin: auto;
	position: absolute;
	left: 50%;
	top: 200px;
	transform: translate(-50%, 0);
}
.check-box{
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: center;
	font-size: 10px;
}
.check-box p{
	font-size: 14px;
	color: #444;
	font-weight: 300;
	margin-top: 15px;
}
.check-box button{
	background-color: #69F0AE;
	padding: 10px 26px;
	border-radius: 4px;
	display: table;
	margin: 0px auto;
	font-size: 13px;
	position: relative;
	color: white;
	display: none;
}